.superellipse {
	width: 220px;
	height: 220px;
	position: relative;
	border-radius: 20%;
	--bg-color: red;
	background-color: var(--bg-color);
	margin: 2px;
}

.superellipse::before,
.superellipse::after {
	content: "";
	position: absolute;
	z-index: -1;
}

.superellipse::before {
	border-radius: 2%/30%;
	background-color: var(--bg-color);
	top: 33px;
	bottom: 33px;
	right: -2px;
	left: -2px;
}

.superellipse::after {
	border-radius: 30%/2%;
	background-color: var(--bg-color);
	left: 33px;
	right: 33px;
	top: -2px;
	bottom: -2px;
}
